body {
    background: #F7F7F8;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
}

.card.row4 {
    grid-column: 1 / 5;
}

.card.row2 {
    grid-column: 5 / 7;
}

.card {
    border-radius: 8px;
    background: #EEEEEF;
    margin: 10px;
    padding: 10px;
}

.illustration {
    width: 120px;
    height: 80px;
    border: 1px dashed #C9D3E2;
    background: linear-gradient(to bottom right, #DAECFF,#EFF5FF);
}

.illustration::before {
}

.left {
    display: flex;
    justify-content: space-between;
}

.creator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #8EA4BD;
}

.creator p {
    left: 50px;
}